
{% extends "base.html" %}
{% load url from future %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li {% if navigation == 'dashboard' %}class="active" {% endif %}><a href="/home/">Dashboard</a></li>
              <li {% if navigation == 'alerts' %}class="active" {% endif %}><a href="/alerts/">Alerts</a></li>
              <li {% if navigation == 'alerts' %}class="active" {% endif %}><a href="/report/">Reporting</a></li>
              <li {% if navigation == 'system' %}class="active" {% endif %}><a href="/system/">System Configuration</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
    
         {% block body %}

         {% endblock %}


     </div>

      </div><!--/


{% endblock %}
